@import "vars.styl";

body
	background url(social-stuff-small.png) 50% 400px no-repeat transparent
	font 300 1.2em/1.5em webfont

h2
	font-size 2.8em
	
.content
	.item-01
	.item-02
		margin 30px 0
		
.navigator
	text-align center
	i
		color primario

#intro
	height 100%
	padding-top 40px
	
	.logo
		img
			margin 0 auto
		
	.frase-matona
		padding 30px 0
		text-align center
		
		h1
			font-size 2.5em
			font-weight 300
			

#miva-marca
	margin-top 350px
	padding-top 20px
	text-align center
	
	.txt-01
		color primario
		display block
		font-size 2.2em
		line-height 1.2em
		margin-bottom 10px
		
	.content-01
		background base
		color base-dark
		display block
		font-size 1.4em
		padding 20px
		
#como
	margin-top 150px
	padding-top 20px
	text-align center
	
	.txt-01
	.txt-02
	.txt-03
	.txt-04
	.txt-05
	.txt-06
	.txt-07
		display block
		font-size 2em
		line-height 1.3em
		text-align right
		padding 20px 0
	
		i
			font-size .5em
			position relative
			top -3px
	
	.txt-01
	.txt-03
	.txt-05
	.txt-07
		color primario
		text-align left
		
#nosotros
	text-align center
	
	.avatar
		img
			border solid 5px primario

#contacta
	background url(social-stuff-small.png) 50% 100px no-repeat transparent
	height 300px