@import "vars.styl";

body
	background none
	
.navigator
	margin-top 10px
	
nav
	background base
	position fixed
	top 0
	left 0
	z-index 2
	
	i
		color #fff
	
	ul
		margin 0
		padding 0
		
		li
			background primario
			display block
			padding 20px
			text-transform uppercase
			transition(1s)
				
			&:hover > ul
				display block
				
			&:hover > i
				display none
	
			ul
				display none
				margin 0
				padding 0
				
				li
					list-style none
					padding 0
					margin 2px 0
					
					a
						color #fff
						display block
						padding 10px
						
						&:hover
							background base
							color #000
							
						i
							color #000
	
#intro
	background url(social-stuff-top.png) 50% 100% no-repeat transparent
	height 100%
	
	.frase-matona
		margin 0 auto
		width 40%
		
#miva-marca
	background url(social-stuff-bottom.png) 50% 0 no-repeat transparent
	height 100%
	margin-top 0px
	padding-top 20px
	
	.item-01
		margin 100px 0
		
	.item-02
		margin 0 0 50px 0
		
	.txt-01
		text-align right
	
	.content-01
		background rgba(244,244,244,.5)
		
#como
	height 100%
	
	.content
		background url(dots.png) 50% 0 no-repeat transparent
		margin-top 80px
		
	.txt-01
	.txt-02
	.txt-03
	.txt-04
	.txt-05
	.txt-06
	.txt-07
		color #000
		padding 14px 0
		text-align left
		
	.txt-01
	.txt-03
	.txt-05
	.txt-07
		text-align right
		
#nosotros
	height 100%
	
	h4
		font-size 1.3em
		text-transform uppercase
	
	.content
		margin-top 40px	

	.description
		p
			font-size 1.1em
			line-height 1.4em
			
	.socios
		margin-top 40px
		
		img
			margin 0 auto

#clientes
	height 500px
	
	.content
		margin-top 40px
		
		img
			margin 0 auto
			width 80%

#contacta
	background url(social-stuff-small.png) 50% 100px no-repeat transparent